<%= render "navbar" %>
<div class="container-fluid">
	<div class="row">
		<%= render "side_navbar" %>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h2">Dashboard</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group mr-2">
						<button class="btn btn-sm btn-outline-secondary">Share</button>
						<button class="btn btn-sm btn-outline-secondary">Export</button>
					</div>
					<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
						<span data-feather="calendar"></span>
						This week
					</button>
				</div>
			</div>
			<canvas class="my-4" id="myChart" width="900" height="380"></canvas>
			<h2>Base de datos</h2><br>
			<%= render "users_table" %>
			<%= render "subscriptors_table" %>
			<%= render "posts_table" %>

		</main>
	</div>
</div>
 <!-- Bootstrap core JavaScript
 	================================================== -->
 	<!-- Placed at the end of the document so the pages load faster -->
 	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 	<!-- Icons -->
 	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
 	<script>
 		feather.replace()
 	</script>
 	<!-- Graphs -->
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
 	<script>
 		var ctx = document.getElementById("myChart");
 		var myChart = new Chart(ctx, {
 			type: 'bar',
 			data: {
 				labels: ["Post","Comments", "Subscriptors"],
 				datasets: [{
 					data: [<%= @posts.all.count %>, <%= @comments.count %>, <%= @subscriptors.count %>],
 					lineTension: 0,
 					backgroundColor: 'rgba(0, 100, 0, 0.3)',
 					borderColor: 'rgba(1, 1, 1, 1)',
 					borderWidth: 1,
 					pointBackgroundColor: '#007bff'
 				}]
 			},
 			options: {
 				scales: {
 					yAxes: [{
 						ticks: {
 							beginAtZero: true
 						}
 					}],
 					xAxes: [{
 						ticks: {
 							beginAtZero: false
 						}
 					}]
 				},
 				legend: {
 					display: false,
 				}
 			}
 		});
 	</script>